.icon {
  float: left;
  width: 150px;
  height: 150px;
}

body{
  background-color: #f2f2f2;
}

h1 {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 50%;
  margin: 0 auto;
  margin-left: 450px;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  float: left;
}

button:hover {
  background-color: gray;
}

.book-tab {
  float: right;
  overflow:auto;
  display: inline-flex;
  position: relative;
  width: 50%;
  top: -95px;
  left: 530px;
}

.excerpts {
  color: white;
  font-size: 24px;
  text-decoration: none;
  background-color: black;
  border-radius: 10px;
  width: 200px;
  height: 36px;
  padding: 5px;
}

.rectangle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
}

.rectangle {
  width: 30%;
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin: 0;
}



.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 30px;
}

.footer-left p {
  margin: 0;
}

.footer-icons i {
  margin-left: 20px;
  font-size: 24px;
}

.icon {
  margin-right: 1px;
}